@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&family=Rubik:wght@500&display=swap');

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  /*font-family: georgia, serif;*/
  font-family: 'Raleway'!important;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/*img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}*/
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bolder;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: inherit;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  /*margin-bottom: 1.45rem;*/
  color: inherit;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  text-align: center;
  color: inherit;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  font-family: 'Raleway'!important;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
/*MY CODE BELOW*/
.site-header {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 65px;
  overflow: hidden;

  align-items: center;
  justify-content: space-between;

  -webkit-box-shadow: 0 3px 5px rgb(57 63 72 / 50%);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
  /*box-shadow: 0 3px 5px rgb(57 63 72 / 50%);*/
  z-index: 999;
  position: relative;
}


.site-header-left {
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
  margin: 0px;
}


.site-header-left img{
  height: 125px;
  margin: 0px;
}

.site-header-right{
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
  margin: 0px;
  position: relative;
}

.site-header-square{
  height: 100%;
  width: 65px;
  background: rgb(255, 255, 255);
  position: relative;
  margin-left: 10px;
}

.site-header-square-content{
  height: 90%;
  width: 90%;
  /*background: #2b2b2b;*/
  /*background: #80da93;*/
  background: radial-gradient(#37f35f, #3fa455);
  /*background: radial-gradient(#02d6d6, #05a2a2); */
  position: absolute;
  border-radius: 50% 0% 50% 50%;
  top: 0px;
  right: 0px;
  -webkit-box-shadow: 0 3px 4px rgb(57 63 72 / 30%);
  -moz-box-shadow: 0 3px 4px rgba(57, 63, 72, 0.3);
  padding-top: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header-square-content img{
  height: 60%;
}





.header-button-wrapper {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px 10px 0px 10px;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}

.slider-wrapper { 
  height: 400px;
  width: 100%;
  background: chartreuse;

  display: flex;
  flex-flow: row;

  z-index: 99;
  position: relative;
  overflow: hidden;
}

.slider-img-container { 
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider-img-container  img{ 
  height: 100%;
  position: relative;
  z-index: 99;
}

.slider-mid-container {
  padding: 30px 0px 0px 0px;
  height: 100%;
  display: flex;
  flex-flow: column;
  width: 100%;
  background: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}


.slider-paragragh-wrapper {
  text-align: center;
  padding: 5px 20px 5px 20px;
}

.slider-header-wrapper {
  padding: 15px 0px 15px 0px;
  text-align: center;
}

.banner-divider {
  background-color: rgb(39, 39, 39);
  clear: both;
  content: "";
  display: flex;
  height: 1.5px;

  width: 140px;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out 0.2s;
}

.align-center {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.slider-footer-wrapper {
  /*height: auto;*/
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-footer-wrapper button {
  height: 50px;
  width: 200px;
  border-radius: 25px;
}


.home-content {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0px 0px 0px 0px;

  align-items: center;
  justify-content: space-between;

  -webkit-box-shadow: 0 -2px 5px rgb(57 63 72 / 50%);
  -moz-box-shadow: 0 -3px 5px rgba(57, 63, 72, 0.5);
  /*box-shadow: 0 3px 5px rgb(57 63 72 / 50%);*/
  z-index: 999;
  position: relative;
}

.home-content1 {
  width: 100%;
  height: auto;

  display: flex;
  flex-flow: column;
  padding: 0px 15px 0px 15px;
}

.home-content-section {
  width: 100%;
  height: auto;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: baseline;
}

.flow-row {
  display: flex;
  flex-flow: row;
  height: auto;
  width: auto;
}

.content-box {
  margin: 70px 0px 70px 0px;
  width: 270px;

  height: auto;
  background: #f8f8f9;
  position: relative;
  border-radius: 4px;
  border: 2px solid #cecece;
  padding: 65px 5px 10px 5px;

  display: flex;
  flex-flow: column;
  text-align: center;
}

.star-box {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.content-box-circ {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #45f1e9;
  background: rgb(240, 240, 240);
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  top: -40px; 
  left: 92.5px;
}

.home-content2 {
  background: rgb(255, 255, 255);
  height: 500px;
  width: 100%;

  display: flex;
  align-items: center;
  position: relative;
}

.tshirt-banner {
  background: #303030;
  height: auto;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-flow: column;
  padding: 0px 500px 0px 15px;
  /*box-shadow: 0 3px 5px rgb(57 63 72 / 50%);*/
  /*position: relative;*/
  overflow: hidden;
}



.tshirt-banner-header-wrapper {
  margin: 10px 0px 10px 0px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  
}

.home-content2 img {
  position: absolute;
  height: 90%;
  right: 20px;
  bottom: 50px;
  
}

.tshirt-paragraph-wrapper {
  color: #fff;
  padding: 5px 0px 10px 0px;
}

.tshirt-banner-header-wrapper button {
  position: absolute;
  margin: 0px 30px 0px 0px;
  padding: 0px 10px 0px 10px;
  border-radius: 25px;
  height: 50px;
  width: auto;
  right: 0px;
  top: -5px;
}

.footer-top {
  display: flex;
  flex-flow: row;
  height: auto;
  width: 100%;

} 

.footer-bottom {
  display: flex;
  flex-flow: row;
  height: 35px;
  width: 100%;

  background: #1c1c1c;
}

.footer-divider {
  background-color: #343434;
  clear: both;
  content: "";
  display: flex;
  height: 1.5px;

  width: 95%;
  margin-bottom: 2px;
  transition: all 0.5s ease-in-out 0.2s;
}

.footer-bottom-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;

}

.footer-socials-wrapper {
  height: 100%;
  min-width: 100px;
  display: flex;
  align-items: center;

  flex-flow: row;

  justify-content: space-between;
  text-align: center;
  font-size: 25px;
}

.footer-top-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

footer {
  clear: both;
  position: relative;
  margin-top: auto;

  background: #1c1c1c;
  color: #7c7c7c;
  padding: 20px 10px 0px 10px;
}

.page-wrapper {
  min-height: 100vh;
  display:flex; 
  flex-direction:column; 
}
